/* Navbar.module.css */

.navbarContainer {
  display: flex;
  flex-direction: column;
}

.navbarContainer .navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbarContainer .navLogo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  flex-grow: 1; /* Allow the logo to take up all available space */
}

.navbarContainer .navButtons {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically, if needed */
}

.navbarContainer .navItem {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbarContainer .ocrButton {
  background-color: #2196f3;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.navbarContainer .brailleButton {
  background-color: #4caf50;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}


/* Add more styles as needed */
